@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

//paleta de colores//
$primary: #e53935;
$p-light: #ff6f60;
$p-dark: #ab000d;

$secondary: #bdbdbd;
$s-ligth: #efefef;
$s-dark: #8d8d8d;

$color-black: #000000;
$color-white: #ffffff;
$color-green: #2a3b16;

//otros detalles estéticos//
$box-shadow: 0 .5rem 1rem rgba(29, 17, 17, 0.2);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax($val, 1fr));
    gap: 2rem;
}

//Inicio detalles cuerpo html//
html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary;
    }
}

//Fin detalles cuerpo html//

//Inicio Barra de Menú//
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

    .logo {
        font-size: 2rem;
        color: $color-black;
        font-weight: 600;

        i {
            color: $p-dark;
            margin-right: .5rem;
            display: flex;

            p {
                padding-left: .5rem;
                font-size: 2rem;
                text-transform: uppercase;
            }

        }
    }

    .navbar a {
        margin: 0 1.5rem;
        font-size: 1.5rem;
        color: $color-black;
        font-weight: 500;

        &:hover {
            color: $p-dark;
        }
    }
}

.icons div,
.icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: $s-ligth;
    font-size: 2rem;
    color: $color-black;
    margin-left: .3rem;
    text-align: center;

    &:hover {
        background: $p-dark;
        color: $color-white;
    }
}

#menu-btn {
    display: none;
}

//Inicio de Barra de Búsqueda//
.search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    height: 6rem;
    background: $color-white;
    display: flex;
    align-items: center;
    padding: 2rem;

    clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);

    &.active {
        clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
    }

    input {
        width: 100%;
        font-size: 1.6rem;
        color: $s-dark;
    }

    label {
        font-size: 2.5rem;
        margin-left: 2rem;
        color: $color-black;

        &:hover {
            color: $p-dark;
        }
    }

    //Fin de Barra de Búsqueda//
}

//Fin Barra de Menú//

//Inicio del Home//
section {
    padding: 3rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: $p-dark;
    color: $color-white;
    font-size: 1.5rem;
    box-shadow: $box-shadow;
    text-align: center;

    &:hover {
        background: $color-green;
    }
}

.heading {
    text-align: center;
    color: $color-green;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.home {
    position: relative;
    padding: 0;

    .bannerone {
        background: url(../img/bannerone.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bannertwo {
        background: url(../img/bannertwo.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bannerthree {
        background: url(../img/bannerthree.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .slide {
        padding: 2rem;
        display: flex;
        min-height: 60vh;

        display: none;

        &.active {
            display: flex;
        }

        .content {
            margin: auto;
            text-align: center;
        }

        span {
            color: $color-black;
            display: block;
            font-size: 3rem;
            text-shadow: $box-shadow;
            animation: fadeIn .2s linear backwards;
        }

        h3 {
            font-size: 5rem;
            color: $p-dark;
            text-shadow: $box-shadow;
            animation: fadeIn .2s linear backwards .4s;
        }

        .btn {
            animation: fadeIn .2s linear backwards .6s;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-4rem) scale(.4);
        }
    }

    #next-slide,
    #prev-slide {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        color: $color-green;
        background: $color-white;
        box-shadow: $box-shadow;
        cursor: pointer;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        text-align: center;

        &:hover {
            background: $p-dark;
            color: $color-white;
        }
    }

    #prev-slide {
        right: 8rem;
    }
}


//Fin del Home//